.container
  .row
    .col-sm-12#badges
      %h1 Badges

      %h2 Simple badges
      -# anything passed to the component must be a string or it will be dropped
      -# this is expected behavior for content_tag (https://github.com/rails/rails/pull/18024#commitcomment-8975180)

      = ui.nfg :badge, :pill, body: "Network For Good", theme: :danger

      -# should return string
      = ui.nfg :badge, :pill, body: "12", theme: :primary, class: 'example-class'

      = ui.nfg :badge, :pill, theme: :success do
        = "Fundraising"

      %hr

